body {
  background-color: #6992dd;
}
#title {
  color: black;
  font-size: 40px;
  margin-left: 350px;
  text-shadow: 5px 2px #ffffff;
}
form {
  margin-left: 100px;
}
input[type="text"] {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.input_array {
  font-size: 30px;
  font-weight: 200;
}
#submit {
  background-color: crimson;
  color: white;
  border-radius: 20px;
  height: 50px;
  width: 100px;
}
